<div class="w-full bg-black h-screen ">


  <div class="flex items-center justify-center h-screen relative">
    <div class="marquee">
      <span class="text-white text-6xl sm:text-7xl md:text-9xl font-bold brightness-50 relative" >
        ENGINEERING &nbsp; ENGINEERING &nbsp; ENGINEERING &nbsp;
        ENGINEERING &nbsp; ENGINEERING &nbsp; ENGINEERING &nbsp;
        ENGINEERING &nbsp; ENGINEERING &nbsp; ENGINEERING &nbsp;
      </span>
      <span class="text-white text-6xl sm:text-7xl md:text-9xl font-bold brightness-50 relative" >
        ENGINEERING &nbsp; ENGINEERING &nbsp; ENGINEERING &nbsp;
        ENGINEERING &nbsp; ENGINEERING &nbsp; ENGINEERING &nbsp;
        ENGINEERING &nbsp; ENGINEERING &nbsp; ENGINEERING &nbsp;
      </span>
    </div>

   <!-- <img src="assets/icons/hero_image.png" class="image-size absolute"   /> -->

    <p class="text-white absolute flex items-center text-3xl font-thin top-3/4">scroll</p>
  </div>



</div>
