<div class="w-full h-screen flex bg-black text-white" id="solution-section">
  <div class="relative w-full">
    <div class="w-1/6"></div>
    <div class="relative text-center uppercase top-1/4">
      <h3 class="text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">Expertise</h3>
      <h2 class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">de bout en bout</h2>
      <br>
      <br>
      <h4 class="text-base sm:text-base md:text-lg lg:text-xl xl:text-2xl">en gestion de projet</h4>
      <p class="text-xs sm:text-xs md:text-sm lg:text-xs xl:text-sm">L'excellence de notre expertise s'étend de bout en bout dans le domaine de la gestion de projet, offrant des capacités avancées de planification, de mise en œuvre et de maintenance adaptées à toutes les tailles de projets agricoles et de Voirie et Réseaux Divers (VRD). Notre équipe dévouée s'engage à fournir des solutions complètes, de la conception initiale à la réalisation et à la pérennité des projets. Que votre projet soit de petite ou grande envergure, nous mettons en œuvre des pratiques de gestion de projet rigoureuses pour garantir une exécution efficace, une qualité exceptionnelle et des résultats durables. Avec notre expérience approfondie et notre engagement envers l'innovation, nous sommes prêts à relever tous les défis pour mener votre projet agricole VRD vers le succès.</p>
    </div>
    <div class="absolute bottom-0 left-0 w-full">
      <img src="assets/background/light.png" alt="farme" class="w-full sm:h-auto md:h-2/3 lg:h-3/4 xl:h-full opacity-60">    </div>
  </div>
</div>
