<div class="w-full bg-black h-screen flex" id="solution-section">
  <div class="md:w-7/12  flex">
    <div class="w-1/12 md:w-2/12"></div>
    <div class="relative w-9/12 pt-6 md:pt-0 md:top-1/4 h-fit">
      <div>
        <h3 class="text-white text-lg md:text-2xl lg:text-3xl xl:text-4xl whitespace-nowrap uppercase">Découvrez</h3>
        <h3 class="text-white font-bold text-xl md:text-3xl lg:text-4xl xl:text-5xl whitespace-nowrap uppercase">notre
          Histoire</h3>
      </div>
      <br>
      <h2 class="text-white font-bold text-sm md:text-base lg:text-lg xl:text-xl">
        Lorem ipsum dolor sit amet consectetur adipiscing elit etiam porta
      </h2>
      <p class="text-white text-justify text-xs ">bibendum cubilia vehicula sagittis
        euismod sapien est faucibus, ligula curabitur velit vel lacus quis dignissim egestas. Mus massa curabitur
        consequat sem phasellus ultricies, faucibus est ornare accumsan libero praesent a, nunc erat euismod tristique
        primis. Ac venenatis penatibus habitant dignissim in mollis mauris eros etiam, platea nam ultricies aptent
        pellentesque metus congue augue, sapien blandit elementum suspendisse velit habitasse lacinia non.
        <br>
        <br>
        Augue in sed pharetra sollicitudin vulputate volutpat nunc, dapibus suscipit auctor vivamus tempor fermentum
        rutrum, habitant leo pellentesque consequat tortor ultrices. Senectus molestie velit potenti dignissim aliquam a
        aliquet pharetra inceptos cursus tempor, ligula interdum orci nunc montes commodo hac netus facilisi at fames,
        arcu non ornare luctus venenatis lectus pretium consequat mus nostra. Curae erat phasellus velit eleifend sapien
        aliquam, porta nam platea bibendum convallis pulvinar, at parturient tempus elementum urna.
      </p>
      <br> <br>
      <br> <br>
      <button
        class="bg-transparent hover:bg-white hover:text-black text-white text-xs md:text-sm lg:text-base xl:text-lg py-2 px-4 border border-white font-bold hover:border-transparent">
        VOIR PLUS
      </button>
    </div>
    <div class="w-1/12"></div>
  </div>
  <div class="w-5/12 hidden md:block bg-black">
    <img src="assets/background/history-frame.png" alt="farme"
         class="relative top-1/4 h-1/2 md:h-1/3 lg:h-5/8 xl:h-3/6 w-3/4 md:w-11/12 lg:w-10/12 xl:w-4/5">
  </div>
</div>
